Repository AserCreator/nes-station-repo, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

fix pack
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/StationEvents/Components/MeteorSwarmRuleComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/NES/Doors/Close.ogg
  Resources/Audio/NES/Doors/Close.ogg.sfk
  Resources/Audio/NES/Doors/Open.ogg
  Resources/Locale/ru-RU/metabolism/metabolizer-types.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
  Resources/Prototypes/NES/Entities/Clotching/acorp.yml
  Resources/Prototypes/NES/Entities/Clotching/clotches.yml
  Resources/Prototypes/NES/Entities/Clotching/hardsuits.yml
  Resources/Prototypes/NES/Entities/Clotching/outerclotching.yml
  Resources/Prototypes/NES/Entities/Clotching/salvagers.yml
  Resources/Prototypes/NES/Entities/Mechanic/base_droid.yml
  Resources/Prototypes/NES/Entities/Mobs/Pets/mobs.yml
  Resources/Prototypes/NES/Entities/Objects/Devices/PDA.yml
  Resources/Prototypes/NES/Entities/stacks.yml
  Resources/Prototypes/NES/Reagents/blood.yml
  Resources/Prototypes/NES/metabolizm.yml
  Resources/Prototypes/SoundCollections/traits.yml
Labels: none

station terminal
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Prototypes/_NES/Entities/Structures/Power/terminal.yml
Labels: Changes: UI

fixes
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/_NES/Entities/Structures/Power/terminal.yml
Labels: none

avali tail
  Resources/Prototypes/_NES/Entities/Mobs/Customization/tails.yml
  Resources/Prototypes/_NES/Entities/Mobs/Player/avali.yml
  Resources/Textures/NES/Mobs/Customization/tails64x32.rsi/avali.png
  Resources/Textures/NES/Mobs/Customization/tails64x32.rsi/meta.json
Labels: Changes: Sprites

tails
  Resources/Prototypes/_NES/Entities/Mobs/Customization/tails.yml
  Resources/Prototypes/_NES/Entities/Objects/Weapons/Lasers/base_multi_laser.yml
  Resources/Textures/NES/Mobs/Customization/tails32.rsi/avali.png
  Resources/Textures/NES/Mobs/Customization/tails32.rsi/f_avian.png
  Resources/Textures/NES/Mobs/Customization/tails32.rsi/m_avian.png
  Resources/Textures/NES/Mobs/Customization/tails32.rsi/meta.json
  Resources/Textures/NES/Mobs/Customization/tails32.rsi/tarrantok_medium.png
  Resources/Textures/NES/Mobs/Customization/tails32.rsi/tarrantok_shorter.png
  Resources/Textures/NES/Mobs/Customization/tails32x32.rsi/meta.json
  Resources/Textures/NES/Mobs/Customization/tails64.rsi/avali.png
  Resources/Textures/NES/Mobs/Customization/tails64.rsi/meta.json
  Resources/Textures/NES/Mobs/Customization/tails64.rsi/tarrantok.png
  Resources/Textures/NES/Mobs/Customization/tails64.rsi/tarrantok_big.png
  Resources/Textures/NES/Mobs/Customization/tails64.rsi/tarrantok_big_fluff.png
  Resources/Textures/NES/Mobs/Customization/tails64x32.rsi/meta.json
Labels: Changes: Sprites

tails2
  Resources/Prototypes/_NES/Entities/Mobs/Customization/tails.yml
  Resources/Textures/NES/Objects/Weapons/Melee/glefa.rsi/meta.json
Labels: none

slots
  Resources/Textures/NES/Interface/Minimalist/Slots/avaliears.png
  Resources/Textures/NES/Interface/Minimalist/Slots/tailbag.png
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl'

"No C#":
- all: ["!**/*.cs"]
